@model ARAMLadder.Models.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}
@if (Model.Games.Count != 0)
{

    <div class="panel panel-default">
        <div class="row">
            <div class="col-md-2 col-centered">
                <h4>Win : @Model.nbWin |   Lose : @Model.nbLose</h4>
                <h4>ratio : @(Math.Floor((double)Model.nbWin / (Model.nbLose + Model.nbWin) * 100)) %</h4>
            </div>

        </div>
    </div>
    <hr />
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    Duration
                </th>
                <th>
                    Kill Ally / Ennemy
                </th>
                <th>
                    participants
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Games)
            {
                var durationMin = (item.GameDuration % 60 < 10 ? "0" : "") + item.GameDuration % 60;
                var first = true;
                <tr class="@(item.LoginGames.First().Win ? "bg-success" : "bg-danger")">
                    <td class="text-right">
                        @($"{item.GameDuration / 60}:{durationMin}")
                    </td>
                    <td class="text-center">
                        @item.KillAlly / @item.KillEnnemy
                    </td>
                    <td>
                        @foreach (var participant in item.LoginGames)
                        {
                            var virgule = ",";
                            if (first)
                            {
                                virgule = "";
                                first = false;
                            }
                            @virgule @participant.AramIdentityUser.riotName
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h3 class="text-center">Pas de Game aujourd'hui :(</h3>
}
